/.terraform/
/.terraform.lock.hcl
/.terraform.tfstate.lock.info
.vagrant/
/app-cred-*-openrc.sh
/disk.img
/local.tf
/ansible/local.ini
/ansible/host_vars/
/ssh_key.tf
/terraform.tfstate
/terraform.tfstate.backup
